


#background{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    bottom: 0;
    z-index:-1;
    opacity:0.25;
    background-image: url("src/rosebackground.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-color:peachpuff;


}



table{
    width:90%;
    text-align: center;
    color:red;

}
tr{

    padding-right:2%;
    padding-left:2%;
}
.title, .date, #welcome{
    font-family: "Bradley Hand ITC",Serif;
    text-align: center;
    color: navy;

}
#BillsPic{
    border-radius: 25px;
    width:35%;
    height:35%;
    display:block;
    margin-left:auto;
    margin-right:auto;



}
a,th{
    color:red;
}
a:link{
    text-decoration: none;
    color:red;
}
a:hover{
    color:orange;
}
a:active{
    color:orangered;
}


body{
    font-family: "Bradley Hand ITC",Serif;
    text-align: center;
    color: navy;
    background-color:peachpuff;
}

